/* Header.css */

/*#header {
    /* Add styles for the header container */
 /* }*/
  
  .header-content {
    position: relative;
    margin-top: 10vh;
    align-items: center;
  }
  
  #header-title {
    font-family: "Quicksand", sans-serif;
    font-size: 45px;
    letter-spacing: 9px;
    color: #FFFCFB;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  /*#main-header-line {
    /* Add styles for the header line */
  /*}*/
  
  .header-paragraph {
    color: #FFFCFB;
    max-width: 400px;
    display: block;
    padding-bottom: 25px;
    margin: 0 auto;
    text-align: center;
    font-family: cursive;

  }
  
  .line {
    width: 20%;
    height: 2px; /* Adjust height as needed */
    background-color: white; /* Set the color to white */
    margin-left: auto; /* Align the line to the right */
    margin-right: auto; /* Align the line to the left */
    margin-bottom: 30px;
  }
  .sun-img{
    position: absolute;
    left:800px;
    top:40%;
    transform: translateY(-50%);
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;


  }

  .cloud-img {
    position: absolute;
  left: 220px;
  top: 50%;
  transform: translateY(-50%);
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }
  .cloud-img1{
  position: absolute;
  left: 70px;
  top: 40%;
  transform: translateY(-50%);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }
  .cloud-img2{
    position: absolute;
  left: 150px;
  top: 20%;
  transform: translateY(-50%);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }

  @keyframes floating {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
