/* Header.css */

/*#header {
    /* Add styles for the header container */
 /* }*/
  
  .header-content {
    position: relative;
    margin-top: 10vh;
    align-items: center;
  }
  
  #header-title {
    font-family: "Quicksand", sans-serif;
    font-size: 45px;
    letter-spacing: 9px;
    color: #FFFCFB;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  /*#main-header-line {
    /* Add styles for the header line */
  /*}*/
  
  .header-paragraph {
    color: #d6bbdc;
    max-width: 400px;
    display: block;
    padding-bottom: 25px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;

  }
  
  .line {
    width: 20%;
    height: 2px; /* Adjust height as needed */
    background-color: white; /* Set the color to white */
    margin-left: auto; /* Align the line to the right */
    margin-right: auto; /* Align the line to the left */
    margin-bottom: 30px;
  }

  .cloud-img {
    position: absolute;
  left: 300px;
  top: 50%;
  transform: translateY(-50%);
  }