 .header-content {
    position: relative;
    margin-top: 10vh;
    align-items: center;
  }
  
  #header-title {
    font-family: "Quicksand", sans-serif;
    font-size: 45px;
    letter-spacing: 9px;
    color: #FFFCFB;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  .header-paragraph {
    color: #FFFCFB;
    max-width: 395px;
    display: block;
    padding-bottom: 25px;
    margin: 0 auto;
    text-align: center;

  }
  
  .line {
    width: 20%;
    height: 2px; 
    background-color: white;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
  }

  .cloud-img {
    position: absolute;
  left: 300px;
  top: 50%;
  transform: translateY(-50%);
  }